.main-header
  .main-header__left-box
    .main-header__left-box__current-group
      = @group.name
    .main-header__left-box__member-list
      %p MEMBERS are :
      .main-header__left-box__member-list__member
        - @group.users.each do |user|
          = user.name
          ,
  .main-header__edit-button
    = link_to 'Edit',edit_group_path(@group.id),class: "edit-button1"

.messages
  -# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
  -# %img#randomimg/
  -# :javascript
  -#   $(function() {
  -#     var array = [
  -#     "./meeting.jpg",
  -#     "./startup.jpg",
  -#     "./people.jpg",
  -#     "./meeting.jpg",
  -#     ];
  -#     var l = array.length;
  -#     var r = Math.floor(Math.random()*l);
  -#     var imgurl = array[r];
  -#     $("messages").attr({"src":imgurl});
  -#   });
  = render @messages

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'


